*{
    margin:10px;
    padding: 10px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}

img{
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    flex-wrap: nowrap;
    margin: auto;
}
section{
    margin: auto;
    position: relative;
    text-align: center;
    width: 300px;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #faf5f5;
}

input{
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(236, 190, 157);

}
